{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather APP</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
</head>

<body>
<section>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input name="search" type="text" class="input-search" placeholder="Type to Search..." required>
        </div>
    </form>
    {% if not message %}
        <article class="box weather">
            <div class="icon bubble black">
                <div class="spin">
                    <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Image">
                </div>
            </div>
            <h1>{{ weather.city }}</h1>
            <h2 style="text-align: center">{{ weather.date }}</h2>
            <span class="temp">{{ weather.temp }}&deg;</span>
            <span class="high-low">{{ weather.temp_min }}&deg;/ {{ weather.temp_max }}&deg;</span>
        </article>
    {% else %}
        <h1>Not Found</h1>
    {% endif %}
</section>
<footer class="footer">
</footer>
</body>

</html>